<h1> Create Your Dog!</h1>
<form action="/" method="POST">
	<p>name:</p>
	<textarea name="name" id="name"></textarea>
	<br>
	<p>breed:</p>
	<textarea name="breed" id="breed"></textarea>
	<br>
	<p>age:</p>
	<textarea name="age" id="age"></textarea>
	<br>
	<input type="submit" name="submit" value="submit">
</form>
